.SharedCursor {
    width: 32px;
    height: 32px;
    background-image: url("s2r://panorama/images/cursor/cursor_default_png.vtex");
    background-size: contain;
}

.SharedCursor.Enemy {
    transform: rotateZ(180deg) translate3d(-32px, -32px, 0px);
}

.Fullscreen {
    width: 100%;
    height: 100%;
}

.DebugText {
    font-size: 50px;
}